.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  opacity: 0.7;
}

.cards {
  position: absolute;
}
