/* .checkbox {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    user-select: none;
  
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: StratosSkyeng;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  
    margin-bottom: 10px;
  } */