.modal {
  width: 480px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 96px;
  height: 96px;
  margin-bottom: 8px;
}

.title {
  color: #004980;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;

  margin-bottom: 28px;
  text-align: center;
}

.description {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: 10px;
}

.time {
  color: #000;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;

  margin-bottom: 10px;
}

.linkBoard {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #004980;
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.linkBoard:hover {
  color: #000;
}

.input_user {
  width: 246px;
  height: 45px;
  top: 334px;
  left: 374px;
  border-radius: 10px;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  color: #000;
}