.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 480px;
  height: 459px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #004980;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.levels {
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-top: 48px;
  margin-bottom: 28px;
}

.level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 98px;
  flex-shrink: 0;

  border-radius: 12px;
  background: #fff;

  color: #0080c1;
  text-align: center;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.levelText {
  position: relative;
  z-index: 1;
}

.checked {
  /* color: #004980; */
  color: #7ac100;
}

input[type="radio"] {
  display: none;
}


.level:hover {
  background: #0080c1;
  color: #fff;
}

.mode {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.linkBoard {
  padding-top: 20px;
  color: #004980;
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.linkBoard:hover {
color:#000;
}

button {
  width: 246px;
  height: 48px;

  border-radius: 12px;
  background: gray;

  color: #fff;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;

  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */

  border: none;

  cursor: pointer;
}

.span {
  font-family: StratosSkyeng;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-left: 10px;
}