.containerLeader {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.startButtonLeaderBoard {
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    width: 276px;
    height: 45px;
    background: #7ac100;

}

.heading {
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #fff;
    display: flex;
    align-items: center;
}

.leaderContainer {
    width: 944px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.containerInfoPanel {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    row-gap: 15px;
}

.infoPanel {
    width: 944px;
    height: 64px;
    border-radius: 12px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.infoText {
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #999;
    display: flex;
    justify-content: flex-start;
    width: 280px;
}

.infoTextTime {
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #999;
    display: flex;
    justify-content: flex-end;
}

.infoPositionName {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoTextUser {
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backGameLeaderBoard {
    margin-top: 20px;
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #c1c1c1;
}