.leader {
    border-radius: 12px;
    background: #ffffff;
    width: 100%;
    padding: 20px 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: leaderTop 1s linear;
}

.leader p{
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

@keyframes leaderTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}