.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}
.bar {
  display: flex;
  gap: 32px;
  align-items: center;
}
.bar_element {
  display: flex;
  gap: 8px;
}
.attempts_txt {
  color: #fff;
  font-family: StratosSkyeng;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}
.attempts_counter {
  color: #fff;
  font-family: StratosSkyeng;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.alohomora {
  cursor: pointer;
  background: url(./images/alohomora.svg);
  width: 68px;
  height: 68px;
  border-radius: 50px;
  border: 1px;
}
.alohomora {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.alohomora:hover::after {
  content: attr(title);
  background-color: #c2f5ff;
  color: #004980;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: -150%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  width: 154px;
  height: auto;
  font-family: "StratosSkyeng", sans-serif;
  font-size: 20px;
  text-align: center;
}
.alohomora:hover::after {
  opacity: 1;
}

.vision {
  cursor: pointer;
  background: url(./images/visionGame.svg);
  width: 68px;
  height: 68px;
  border-radius: 50px;
  border: 1px;
}
.vision {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.vision:hover::after {
  content: attr(title);
  background-color: #c2f5ff;
  color: #004980;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: -150px; /* Position the tooltip above the element */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  width: 154px;
  height: auto;
  font-family: "StratosSkyeng", sans-serif;
  font-size: 20px;
  text-align: center;
}
.vision:hover::after {
  opacity: 1;
}

button:hover {
  border: 1px solid transparent;
}
.footer_box {
  display: flex;
  justify-content: space-between;
}