.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}

.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.reset {
  display: flex;
  gap: 16px;
  align-items: center;
}

.counter_txt {
  margin-top: 8px;
  color: #fff;
  font-family: StratosSkyeng;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.counter_counter {
  color: #fff;
  font-family: StratosSkyeng;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.counter_wrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.errors {
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  font-family: StratosSkyeng;
  padding: 6px;
}

.pause {
  opacity: 0.5;
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.containerImg {
  display: flex;
  gap: 20px;
}

.vision {
  height: 68px;
  width: 68px;
  background-image: url(./images/visionGame.svg);
  border-radius: 34px;
  cursor: pointer;
  opacity: 0.5;
}

.vision:hover {
  opacity: 1;
}

.alohomora {
  height: 68px;
  width: 68px;
  background-image: url(./images/alohomora.svg);
  border-radius: 34px;
  cursor: pointer;
  opacity: 0.5;
}

.alohomora:hover {
  opacity: 1;
}

[title]::before {
  opacity: 0;
  content: attr(title);
  padding-top: 25px;
  position: absolute;
  color: #004980;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  z-index: 2;
  left: -7px;
  bottom: -50px;
  pointer-events: none;
  transition: opacity 0.2s;
}

[title]:hover::before {
  opacity: 1;
}

[hint] {
  position: relative;
}

[hint]::after {
  opacity: 0;
  content: attr(hint);
  position: absolute;
  width: 180px;
  padding: 60px 20px 20px;
  color: #004980;
  background: #c2f5ff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  z-index: 1;
  bottom: -5px;
  transform: translate(-50%, 100%);
  border-radius: 12px;
  pointer-events: none;
  transition: opacity 0.2s;
}

[hint]:hover::after {
  opacity: 1;
}
