.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.title {
  animation: opasityLeft 0.6s;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  animation: transform 0.6s;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}
.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  animation: opasity 0.6s;
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.hpBox {
  display: flex;
  gap: 5px;
}

.hp{
  width: 20px;
  height: 20px;
  margin-bottom: 15px;
}


@keyframes opasity {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opasityLeft {
  0% {
    margin-left: 100px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transform {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

