.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}
