@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.header {
    width: 944px;
    height: 64px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.headerText {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #fff;
}

.headerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    width: 246px;
    height: 50px;
    background: #7ac100;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #fff;
    border-style: none;
    text-decoration: none;
}

.row {
    width: 944px;
    height: 64px;
    border-radius: 12px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.textRowHeader {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #999;
    padding: 0 20px;
}

.textRowLeader {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: #000000;
    padding: 0 20px;
}
