.rules {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 38px;
  color: #800071;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.input {
  border-radius: 5px;
  border: solid 0px;
  min-height: 25px;
  padding-left: 5px;
}

.custom__box {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.custom__box::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: rgb(255, 255, 255);
}

.custom__box:checked::before {
  border-color: rgb(241, 94, 194);
  background-color: #c66dd8;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
