.input {
  border: none;
  border-radius: 10px;
  outline: none;

  color: #000;
  padding: 8px 28px;
  text-align: center;

  font-size: 24px;
  font-family: StratosSkyeng;

  margin: 0 0 28px;
}

.input::placeholder {
  color: #999999;
}
