.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 1024px;
  padding: 60px 40px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.topHeading {
  color: #fff;
  font-size: 24px;
}

.table {
    list-style: none;
}
