body {
  margin: 52px 40px;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  color: #fff;
}
