.container {
  width: 686px;
  margin: 50px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  padding: 8px;
}

.leaderboard {
  width: 686px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-sizing: border-box;
}

.leaderboard th {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 133%;
  color: #999;
}

.position {
  width: 80px;
  text-align: left;
}

.user {
  width: 200px;
  text-align: left;
}

.achievements {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.time {
  width: 100px;
  display: flex;
  justify-content: center;
}

.tbody {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.leader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 133%;
  color: #000;
}
