html {
  margin: 0;
}

body {
  background-color: #004980;
  margin: 0;
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0;                 /* ширина scrollbar */
}

#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
li,
ol {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "StratosSkyeng";
  src:
    url("../public/assets/fonts/StratosSkyeng.woff2") format("woff2"),
    local("Arial");
  font-weight: 400;
  font-style: normal;
}

/*временное решение */

.toggle-pill-dark{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-pill-dark input[type="checkbox"] {
  display: none;
}
.toggle-pill-dark input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 3em;
  height: 1.6em;
  margin-bottom: 20px;
  border-radius: 1em;
  background: #004980;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}
.toggle-pill-dark input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #c2f5ff;
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.toggle-pill-dark input[type="checkbox"]:checked + label:before {
  background: #9efaa3;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  left: 1.6em;
  -webkit-transform: rotate(295deg);
  transform: rotate(295deg);
}

